<!DOCTYPE html>
<head>
    <title>About Us</title>
      <link rel='icon' href="/img/cloud.png">
    <link rel='stylesheet' href="/css/style.css">
</head>

<body>
    <div class='main-content'>
    {{>header}}
    <img class='portrait' src='/img/barbie.jpeg'>
    
    </div>
    {{!-- <h1>about us!!!</h1>
    <h1>{{title}}</h1> --}}
    {{!-- Created by{{name}} --}}
    

    {{>footer}}
    
</body>
</html>
