<!DOCTYPE html>
<html>
    <head>
        <title>Help </title>
          <link rel='icon' href="/img/cloud.png">
        <link rel='stylesheet' href="./css/style.css">
    </head>

    <body>
         <div class='main-content'>
        {{>header}}
        {{!-- upar vala measn render from partials --}}
        {{!-- <h1>{{title}}</h1> --}}
        {{msg}}
        </div>
        {{>footer}}

    </body>
</html>