<footer>
<p>    
Created by: {{name}}
</p>
</footer>

{{!-- //if make changes, want them to be reflected on browswe, restart of server must.so run nodemon with extensions flag or restart server manually --}}