{{!-- not complete html document, only some part --}}
{{!-- <h1>helllllllllllo</h1> --}}


<header>
    <h1>{{title}}</h1>
    <a href="/"> HOME</a>
    <a href='/about'>ABOUT US</a>
    <a href='/help'>HELP</a>
    {{!-- href tell where to go --}}
</header>
{{!-- using header in place of div , so taht while styling easy for us --}}